.events .main-nav input{
    padding: 0.5em;
    border: 1px solid #6f7287;
    border-radius: 2rem;

}

.events .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.events .event-banner{
    flex: 0 0 32%;
    margin-bottom: 2%;
    background-color: #eee;
    transition: box-shadow 0.3s ease-in-out;
}

.events .event-banner:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
}

/* AR box */
.events .event-media{
    position: relative;
    overflow: hidden;
}

.events .event-media:before{
    content:'';
    display: block;
    padding-top: calc( (9 / 16) * 100 * 1%  );
}

.events .inner{
    position: absolute;
    top:0; left: 0; right: 0; bottom: 0;
}

.events img{
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.events .event-container{
    background-color: #fff;
    padding: 1em;
}

.events .event-container .name{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #39364f;

}

.events .event-container .date{
    color: var(--main-element-color);
    
}

.events .event-container .place{
    color: #6f7287;
    
}

.events .event-container a{
    color:#fff;
    background-color: #090;
    border-radius: 0.3rem;
    padding: 0.3em 0.5em;
}

.events .event-container p:last-child{
    padding: 1em 0;
    text-align: right;

}
